{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/blogs.css')}}" type="text/css">
{% endblock styles%}

{% block content %}

<div class="row">
    {% for blog in blogs %}
    <div class="col-md-3" ></div>
    <div class="col-md-9">
        <h2>{{blog.title}}</h2>
        <p>
            {{blog.content}}
        </p>
    {% if blog.user==current_user%}
    <a class="btn btn-sm" href="{{ url_for('main.updateblog', blog_id=blog.id) }}" style="border-radius: 5px; background-color: rgb(10, 10, 10); color: white;">Update</a>
    <button>Delete</button>

    {% endif %}
    <a href="{{url_for('main.new_comment', blog_id=blog.id)}}">Comment on this blog</a>
    <a href="/view_comments/{{blog.id}}">View Comments</a>
    <p> Written by:  {{blog.user.username}} </p>
    <p>{{ blog.posted_on.strftime('%d-%m-%Y') }}</p>
    
    {% endfor %}


</div>
</div>

{% endblock %}